*
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Work Sans', sans-serif;
}

.header-banner
{
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.comon-container
{
    width: 1310px;
    margin: auto;
}

.header-title
{
    padding: 165px 0px;
    text-align: right;
}
.header-title h1
{
    font-size: 65px;
    font-weight: bold;
    padding: 125px 0px 25px 0px;
    color: #151414;
}

.header-title p
{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
    color: #444343;
}

.btn-prymari
{
    border: 0;
    border-radius: 5px;
    padding: 20px 25px;
    background-color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

/* About */

.about-container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 120px 0;
}

.about-img-box
{
    position: relative;
}

.about-img
{
    position: absolute;

}

.about-img-back 
{
    width: 527px;
    height: 527px;
    background-color: #F15B22;
    border-radius: 50%;
    margin-top: 196px;
    margin-left: 21px;
}

.about-title
{
    padding: 0px 100px 0px 80px;
}

.about-title h2
{
    font-size: 40px;
    font-weight: bold;
    padding-top: 200px;
    padding-bottom: 25px;
    color: #151414;
}

.about-title p, .about-title ul li
{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 30px;
    color: #444343;
}

.about-title ul
{
    list-style-type: none;
}

.about-title ul li
{
    padding-bottom: 15px;
}

.about-icon
{
    color: #16D887;
}





/* media screen */

@media screen and (max-width: 576px) {
    .header-title
    {
        text-align: left;
    }

    .about-container
    {
        grid-template-columns: repeat(1, 1fr);
    }
}